header {
	background-color: black;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

header h1{
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 50px;
	/*font-family: 'Dancing Script', cursive;*/
	/*text-shadow: 1px 1px 1px #01E5A7;*/
	/*text-shadow: 1px 1px 1px gray;*/
	display: inline-block;
}

.first button{
	background-color: red;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	width: 25%;
	display: block;
	margin: 0 auto;
	justify-content: center;
  	align-items: center;
	text-align: center;
}

#second {
	margin: auto;
  	width: 60%;
  	height: auto;
  	background-color: lightgray;
  	border-radius: 5px;
  	padding: 10px;
}